.modal{
    text-align: center;
    position: fixed;
    top:10%;
    left: 50%;
    min-width: 350px;
    transform: translate(-50%, 0);
    padding:10px 50px;
    border-radius: 5px;
    color:$clr6;
    font-size: rem(18px);
}